*{
    list-style: none;
}
body {
    background-image: url("mountain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin:0 0;
    padding:0 0;
    min-height: 100vh;
}
 a:visited{
     color: white;
 }
nav{
    padding: 25px;
    height:350px;
}
nav ul{
    display:flex;
    justify-content: flex-end;
    align-items: top;
    font-size: medium;
    cursor: pointer;  
    font-style: bold;
    color: azure;
}
nav ul li{
    margin: 10px;
}
.container{
    display: flex;
    justify-content: center;
    height:300px;
    
}
.social-icons ul{
    display: flex;
    justify-content: center;
}

.social-icons ul li{
    margin:10px;
}
.welcome{
    text-align: center;
    color: azure;
}

footer{
    background-color: grey;
  }

  @media (max-width:800px){
     .welcome {
         width:400px;
         height: 400px;
     }
  }